{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
  {% if last_category %}{% set update=True %}{% else %}{% set update=False %}{% endif %}
  <div class="row m-0 p-0">
    <form class="card col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 my-3" action="{{ request.path }}" method="POST"
      enctype="multipart/form-data">
      <h2 class="text-center">Maintain Categories</h2>
      <!-- description -->
      <div class="form-outline">
        <input type="text" class="form-control" name="description" id="description" minlength="3" maxlength="25"
          value="{{ last_category['description'] }}">
        <label for="description" class="form-label">Description</label>
      </div>
      <br>
      <!-- icon -->
      <div class="form-outline">
        <input type="text" class="form-control" name="icon" id="icon" value="{{ last_category['icon'] }}">
        <label for="icon" class="form-label">Font Awsome Icon</label>
      </div>
      <!-- submit button -->
      <button type="submit" class="btn btn-primary offset-1 col-10 shadow-2-strong my-3">
        <i class="fas {% if update==True %}fa-edit{% else %}fa-plus-square{% endif %} fa-2x ms-3"></i>
        <span class="lead">{% if update==True %}Update record{% else %}Add record{% endif %}</span>
      </button>
    </form>
  </div>

  {% if categories %}
  <div class="row m-0 p-0">
    <div class="card col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 my-3">
      <table class="table">
        <tr>
          <th>Description</th>
          <th>Font Awsome Icon</th>
          <th class="text-center">Actions</th>
        </tr>

        {% for category in categories %}
        <tr>
          <td>{{ category['description'] }}</td>
          <td>
            <i class="{{ category['icon'] }} fa-2x"></i>
            {{ category['icon'] }}
          </td>
          <td class="text-center">
              <a href="{{ url_for('update_category', category_id=category['_id']) }}">
                <i class="fas fa-edit fa-lg ms-1" data-mdb-toggle="tooltip" data-mdb-placement="left" title="Edit"></i>
              </a>
              <a href="{{ url_for('delete_category', category_id=category['_id']) }}" data-mdb-toggle="modal" data-mdb-target="#modal-confirm">
                <i class="fas fa-trash-alt fa-lg" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Delete"></i>
              </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="modal-confirm" tabindex="-1" aria-labelledby="modal-confirm-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-confirm-title">Confirm deletion</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">This operation will remove the selected category from database without checking if any tasks still having it.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" formMethod='POST'>Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}