{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

{% if session['user_id'] and session['user_is_admin'] %}
<div class="text-center mt-3">
{% for coll_fieldcat in fieldcatalog.values() %}
{% if coll_fieldcat['admin'] %}
  <a href="{{ url_for('maintain', collection_name=coll_fieldcat['collection_name']) }}" class="btn btn-secondary m-2">
    {{ coll_fieldcat['description'] }}
  </a>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% set coll_fieldcat = fieldcatalog[collection_name] %}
{% if records %}
<h2 class="text-center mt-3">Cars assigned to you</h2>
<!-- list of assigned cars -->
<div class="row m-0 p-0">
  <div class="card col-12 my-3">
    <table class="table">
      <tr>
        {% for field in coll_fieldcat['fields'] %}
        <th>{{ field['heading'] }}</th>
        {% endfor %}
      </tr>

      {% for record in records %}
      <tr>
        {% for field in coll_fieldcat['fields'] %}
        {% set field_input_type = field['input_type'] %}
        <td>
          {% if field_input_type=='text' or field_input_type=='number' %}
          <!-- TEXT or NUMBER type -->
            {{ record[field['name']] }}

          {% elif field_input_type=='select' %}
            {% if record[field['name']] and buffer[field['values']][record[field['name']]] %}
            <!-- SELECT type -->
              {% set item = buffer[field['values']][record[field['name']]] %}
              {{ item[fieldcatalog[field['values']]['select_field']] }}
            {% endif %}

          {% elif field_input_type=='lookup' %}
            {% if record[field['name']] %}
          <!-- LOOKUP type -->
            {{ record[field['name']]|get_entity_select_field(field['values']) }}
            {% endif %}
          
          {% elif field_input_type=='imageid' %}
            {% if record[field['name']] %}
          <!-- IMAGEID type -->
            <img class="img-fluid" src="{{ url_for('serve_image', image_id=record[field['name']]) }}" 
                  style="max-width: 150px;" alt="{{ field['heading'] }}">
            {% endif %}

          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% else %}
<div class="row m-0 p-0">
  <div class="card text-center col-12 my-3">
    <h1>My Car Administration</h1>
    <p class="hero"><i class="fas fa-car"></i></p>
  </div>
</div>
{% endif %}
</div>
{% endblock %}