{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
{% set coll_fieldcat = fieldcatalog[collection_name] %}
<div class="content">
  {% if last_record %}{% set update=True %}{% else %}{% set update=False %}{% endif %} 
  <div class="accordion col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 mt-3" id="accordion0">
    <div class="row accordion-item m-0 p-0">
        <!-- Insert/Update header -->
        <h2 class="accordion-header" id="accordion0-header0">
          <button type="button" class="accordion-button bg-warning {% if not update %}collapsed{% endif %}"
            data-mdb-toggle="collapse" data-mdb-target="#accordion0-collapse0"
            aria-expanded={% if update %}"true"{% else %}"false"{% endif %} aria-controls="accordion0-collapse0">
            {% if update %}
            <i class="fas fa-edit fa-lg text-primary"></i>Update {{ coll_fieldcat['entity_name'] }}
            {% else %}
            <i class="fas fa-plus-square fa-lg text-primary"></i>New {{ coll_fieldcat['entity_name'] }}
            {% endif %}
          </button>
        </h2>

        <!-- Insert/Update collapsing part -->
        <div id="accordion0-collapse0" class="accordion-collapse collapse {% if update %}show{% endif %}" 
            aria-labelledby="accordion0-header0" data-mdb-parent="#accordion0">
          <form class="accordion-body bg-light" action="{{ request.path }}" method="POST" enctype="multipart/form-data">
            <h2 class="text-center">Maintain {{ coll_fieldcat['description'] }}</h2>
            <!-- input fields -->
            <div class="row m-0 p-0">

            <!-- TEXT type -->
            {% for field in coll_fieldcat['fields'] %}
            {% if field['input_type']=='text' %}
            <div class="form-outline col-12 col-lg-6 mb-3">
              <input type="{{ field['input_type'] }}" class="form-control" id="{{ field['name'] }}" {{ field['attributes'] }}
                    name="{{ field['name'] }}" value="{{ last_record[field['name']] }}">
              <label for="{{ field['name'] }}" class="form-label">{{ field['heading'] }}</label>
            </div>

            <!-- NUMBER type -->
            {% elif field['input_type']=='number' %}
            <div class="form-outline col-12 col-lg-6">
              <input type="{{ field['input_type'] }}" class="form-control" id="{{ field['name'] }}" {{ field['attributes'] }}
                    name="{{ field['name'] }}" value="{{ last_record[field['name']] }}">
              <label for="{{ field['name'] }}" class="form-label">{{ field['heading'] }}</label>
            </div>
            
            <!-- DATE type -->
            {% elif field['input_type']=='date' %}
            <div class="form-outline col-12 col-lg-6">
              <!-- learnt to remove the date template if not in focus https://stackoverflow.com/a/28686510/8634389 -->
              <input type="{% if last_record[field['name']] %}date{% else %}text{% endif %}" 
                    class="form-control" id="{{ field['name'] }}" {{ field['attributes'] }}
                    onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'"
                    name="{{ field['name'] }}" value="{{ last_record[field['name']]|datetime_to_str('%Y-%m-%d') }}"">
              <label for="{{ field['name'] }}" class="form-label">{{ field['heading'] }}</label>
            </div>

            <!-- SELECT type -->
            {% elif field['input_type']=='select' %}
            <div class="col-12 col-lg-6 mb-3">
              <label for="{{ field['name'] }}" class="form-label">{{ field['heading'] }}</label>
              <select name="{{ field['name'] }}" id="{{ field['name'] }}">
                <option value=""></option>
                {% for _id in buffer[field['values']] %}
                <option value="{{ _id }}" {% if _id==last_record[field['name']] %}selected{% endif %}>
                  {{- buffer[field['values']][_id][fieldcatalog[field['values']]['select_field']] -}}
                </option>
                {% endfor %}
              </select>
            </div>

            <!-- CHECKBOX type -->
            {% elif field['input_type']=='checkbox' %}
            <div class="col-lg-6 mb-3 px-5 pt-2">
              <div class="form-check form-switch">
                <label for="{{ field['name'] }}" class="form-check-label">{{ field['heading'] }}</label>
                <input type="checkbox" class="form-check-input" name="{{ field['name'] }}" id="{{ field['name'] }}"
                        {% if last_record[field['name']] %}checked{% endif %}>
              </div>
            </div>

            <!-- PASSWORD type -->
            {% elif field['input_type']=='password' %}
            <div class="form-outline col-12 col-lg-6 mb-3">
              <input type="password" class="form-control" id="{{ field['name'] }}" {{ field['attributes'] }}
                    name="{{ field['name'] }}">
              <label for="{{ field['name'] }}" class="form-label">{{ field['heading'] }}</label>
            </div>

            <!-- IMAGE type -->
            {% elif field['input_type']=='image' %}
            <div class="form-outline">
              <label for="{{ field['name'] }}" class="form-label ms-3">Select an image:</label>
              <input type="file" name="{{ field['name'] }}" id="{{ field['name'] }}">
            </div>
            
            <!-- LOOKUP type -->
            {% elif field['input_type']=='lookup' %}
            <div class="form-outline col-12 col-lg-6 mb-3">
              <input type="text" class="form-control" id="{{ field['name'] }}" {{ field['attributes'] }}
                    name="{{ field['name'] }}" value="{{ last_record[field['name']]|get_entity_select_field(field['values']) }}">
              <label for="{{ field['name'] }}" class="form-label">{{ field['heading'] }}</label>
            </div>            

            {% endif %}
            {% endfor %}
            </div>
            <!-- submit button -->
            <button type="submit" class="btn btn-primary offset-1 col-10 shadow-2-strong my-3">
              <i class="fas {% if update==True %}fa-edit{% else %}fa-plus-square{% endif %} fa-2x ms-3"></i>
              <span class="lead">{% if update==True %}Update record{% else %}Add record{% endif %}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if records %}
  <div class="row m-0 p-0">
    <div class="card col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 my-3">
      <table class="table">
        <tr>
          {% for field in coll_fieldcat['fields'] %}
          <th>{{ field['heading'] }}</th>
          {% endfor %}
          <th class="text-center">Actions</th>
        </tr>

        {% for record in records %}
        <tr>
          {% for field in coll_fieldcat['fields'] %}
          {% set field_input_type = field['input_type'] %}
          <td>
            <!-- ICON -->
            {% if field['name']=='icon' %}
              <i class="{{ record['icon'] }} fa-2x"></i>
            {% endif %}

            <!-- TEXT or NUMBER type -->
            {% if field_input_type=='text' or field_input_type=='number' %}
              {{ record[field['name']] }}

            <!-- DATE type -->
            {% elif field_input_type=='date' %}
              {{ record[field['name']]|datetime_to_str('%d/%m/%Y') }}

            <!-- SELECT type -->
            {% elif field_input_type=='select' %}
              {% if record[field['name']] and buffer[field['values']][record[field['name']]] %}
                {% set item = buffer[field['values']][record[field['name']]] %}
                {{ item[fieldcatalog[field['values']]['select_field']] }}
              {% endif %}

            <!-- CHECKBOX type -->
            {% elif field_input_type=='checkbox' %}
            {% if record[field['name']] %}&nbsp;
            <i class="far fa-check-square" data-mdb-toggle="tooltip" data-mdb-placement="right" title="{{ field['heading'] }}"></i>
            {% endif %}

            <!-- LOOKUP type -->
            {% elif field_input_type=='lookup' %}
              {% if record[field['name']] %}
              {{ record[field['name']]|get_entity_select_field(field['values']) }}
              {% endif %}

            <!-- PASSWORD type -->
            {% elif field_input_type=='password' %}
            *********
            
            <!-- UNIX TIMESTAMP type as ...Ago -->
            {% elif field_input_type=='timestamp_insert' or field_input_type=='timestamp_update' %}
              {% if record[field['name']] %}
              {{ record[field['name']]|unix_time_ago }}
              {% endif %}

            <!-- IMAGE type -->
            {% elif field_input_type=='image' %}
              {% if record[field['name']] %}
              <img class="img-fluid" src="{{ url_for('serve_image', image_id=record[field['name']]) }}" alt="{{ field['heading'] }}">
              {% endif %}

            {% endif %}
          </td>
          {% endfor %}
          <td class="text-center">
              <a href="{{ url_for('update_record', collection_name=coll_fieldcat['collection_name'], record_id=record['_id']) }}">
                <i class="fas fa-edit fa-lg ms-1" data-mdb-toggle="tooltip" data-mdb-placement="left" title="Edit"></i>
              </a>
              <a href="{{ url_for('delete_record', collection_name=coll_fieldcat['collection_name'], record_id=record['_id']) }}" 
                 data-mdb-toggle="modal" data-mdb-target="#modal-confirm">
                <i class="fas fa-trash-alt fa-lg" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Delete"></i>
              </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="modal-confirm" tabindex="-1" aria-labelledby="modal-confirm-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-confirm-title">Confirm deletion</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">This operation will remove the selected record from database without checking if any record still has it.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" formMethod='POST'>Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}