{% extends "base.html" %}
<!-- Google Cloud Platform https://console.cloud.google.com/ -->
{% block head %}
<title>Love Sandwiches</title>
{% endblock %}

{% block body %}
<div class="content">
    <h2>{{ page_subtitle }}</h2>
     {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages%}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table>
        {% for stock_row, sales_row, surplus_row in data %}
        <tr>
        {% if loop.first %}
            <form action="{{ request_path }}" method="POST">
            {% for column in columns %}
            <th>{{ sales_row[loop.index0] }}<br>
                <input type="number" name="{{column}}">
                {% if loop.last %}
                <button type="submit" name="submit" value="sales">-> Sales</button>
                <button type="submit" name="submit" value="stock">-> Stock</button>
                {% endif %}  
            </th>
            {% endfor %}
            </form>
        {% else %}
            {% for column in columns %}
            <td>{{ stock_row[loop.index0] }} - {{ sales_row[loop.index0] }} = {{ surplus_row[loop.index0] }}</td>
            {% endfor %}    
        {% endif %}                     
        </tr>
        {% endfor %}
        <tr><td colspan="6">suggested stock for next market day</td></tr>
        <tr>
        {% for stock in suggest %}
        <td>{{ stock }}</td>
        {% endfor %}
        </tr>
    </table>

    <p>link to the <a href="https://docs.google.com/spreadsheets/d/1EIDdrNyBF9oxFSFNpzwZWBmyUAYmawToDBEO0wu5GmQ/" target="_blank">google sheets</a>, where data is stored</p>
</div>
{% endblock %}