{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  {% if last_task %}{% set update=True %}{% else %}{% set update=False %}{% endif %}
  <div class="accordion col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6" id="accordionOne">
    <form class="accordion-item my-3" action="{{ request.path }}" method="POST" enctype="multipart/form-data">
      <!-- Insert/Update header -->
      <h2 class="accordion-header" id="heading0">
        <button type="button" class="accordion-button bg-warning {% if not update %}collapsed{% endif %}"
          data-mdb-toggle="collapse" data-mdb-target="#collapse0"
          aria-expanded={% if update %}"true"{% else %}"false"{% endif %} aria-controls="collapse0">
          {% if update %}
          <i class="fas fa-edit fa-lg text-primary"></i>Update Task
          {% else %}
          <i class="fas fa-plus-square fa-lg text-primary"></i>New Task
          {% endif %}
        </button>
      </h2>
      <!-- Insert/Update collapsing part -->
      <div id="collapse0" class="accordion-collapse collapse {% if update %}show{% endif %}" aria-labelledby="heading0"
        data-mdb-parent="#accordionOne">
        <div class="accordion-body bg-light">
          <!-- name -->
          <div class="form-outline">
            <input type="text" class="form-control" name="name" id="name" value="{{ last_task['name'] }}">
            <label for="name" class="form-label">Task Name</label>
          </div>
          <div class="row">
            <!-- category_id -->
            <div class="col-7 col-lg-3">
              <label for="category_id" class="form-label">Category</label>
              <select name="category_id" id="category_id">
                <option value=""></option>
                {% for category_id in categories %}
                <option value="{{ category_id }}" {% if category_id==last_task['category_id'] %}selected{% endif %}>
                  {{ categories[category_id]['description'] }}
                </option>
                {% endfor %}
              </select>
            </div>
            <!-- is_urgent -->
            <div class="form-check form-switch col-5 col-lg-3">
              <label for="is_urgent" class="form-check-label">Urgent?</label>
              <input type="checkbox" class="form-check-input" name="is_urgent" id="is_urgent"
                {% if last_task['is_urgent'] %}checked{% endif %}>
            </div>
            <!-- due_date -->
            <div class="col-7 col-lg-3">
              <label for="due_date" class="form-label">Due Date</label>
              <input type="date" name="due_date" id="due_date"
                value="{{ last_task['due_date']|datetime_to_str('%Y-%m-%d') }}">
            </div>
            <!-- is_complete -->
            <div class="form-check form-switch col-5 col-lg-3">
              <input type="checkbox" class="form-check-input" name="is_complete" id="is_complete"
                {% if last_task['is_complete'] %}checked{% endif %}>
              <label for="is_complete" class="form-check-label">Complete?</label>
            </div>
          </div>
          <!-- description -->
          <div class="form-outline">
            <textarea class="form-control" name="description" id="description" minlength="5" maxlength="200">
                  {{- last_task['description'] -}}
                </textarea>
            <label for="description" class="form-label">Description</label>
          </div>
          <!-- SourceFileName -->
          <div class="form-outline">
            <label for="SourceFileName" class="form-label ms-3">Select a file:</label>
            <input type="file" name="SourceFileName" id="SourceFileName">
          </div>
          <!-- submit button -->
          <button type="submit" class="btn btn-primary offset-1 col-10 shadow-2-strong my-3">
            <i class="fas {% if update==True %}fa-edit{% else %}fa-plus-square{% endif %} fa-2x ms-3"></i>
            <span class="lead">{% if update==True %}Update record{% else %}Add record{% endif %}</span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- search -->
  {% if not update %}
  <div class="row m-0 p-0 my-3">
      <form action="{{ url_for('search') }}" method="POST" class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="row ps-3">
          <div class="form-outline col-6">
            <input type="text" name="query" id="query" minlength="3" value="{{ query }}" class="form-control">
            <label for="query" class="form-label">Search Tasks</label>
          </div>
          <div class="col-6">
            <button type="submit" class="btn bg-primary text-shadow text-light">
              <i class="fas fa-search"></i> Search
            </button>
            <a href="{{ url_for('tasks') }}" class="btn bg-danger text-shadow ms-3 text-light">Reset</a>
          </div>
        </div>
      </form>
  </div>
  {% endif %}

  <!-- Tasks -->
  {% if tasks %}
  <div class="accordion col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6" id="accordionTasks">
    {% for task in tasks %}
    <div class="accordion-item ">
      <!-- Task header -->
      <h2 class="accordion-header" id="acc-heading{{ loop.index }}">
        <button type="button" class="accordion-button bg-info {% if loop.index>1 %}collapsed{% endif %}"
          data-mdb-toggle="collapse" data-mdb-target="#collapse{{ loop.index }}"
          aria-expanded={% if loop.index==1 %}"true"{% else %}"false"{% endif %}
          aria-controls="collapse{{ loop.index }}">
          {% if task["category_id"] and categories[task["category_id"]] %}
          {% set category = categories[task["category_id"]] %}
          <i class="{{ category['icon'] }} fa-lg" data-mdb-toggle="tooltip" data-mdb-placement="right"
            title="{{ category['description'] }}"></i>
          {% endif %}
          <strong>&nbsp;{{ task['name'] }}:&nbsp;</strong>
          {{ task['due_date']|datetime_to_str('%d/%m/%Y') }}
          {% if task['is_urgent'] %}&nbsp;
          <i class="fas fa-exclamation fa-lg text-primary" data-mdb-toggle="tooltip" data-mdb-placement="right"
            title="URGENT!"></i>
          {% endif %}
          {% if task['is_complete'] %}&nbsp;
          <i class="far fa-check-square" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Complete!"></i>
          {% endif %}
        </button>
      </h2>
      <!-- Task body -->
      <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {% if loop.index==1 %}show{% endif %}"
        aria-labelledby="acc-heading{{ loop.index }}" data-mdb-parent="#accordionTasks">
        <div class="accordion-body bg-light px-0">
          <div class="row mx-0 p-0">
            <div class="col-2">
              {% if task['image_id'] %}
              <img class="img-fluid" src="{{ url_for('serve_image', image_id=task['image_id']) }}" alt="{{ task['name'] }}"><br>
              {% endif %}
            </div>
            <div class="col-9">
               <p>{{ task['description'] }}</p>
               <p class="mb-0"><small><strong>Added: </strong>{{ task['date_time_insert']|unix_time_ago }}
                 {% if task['date_time_update'] %}
                   <strong>Updated: </strong>{{ task['date_time_update']|unix_time_ago }}
                 {% endif %}
               </small></p>
            </div>
            <div class="col-1 text-center">
              <a href="{{ url_for('update_task', task_id=task['_id']) }}">
                <i class="fas fa-edit fa-lg ms-1" data-mdb-toggle="tooltip" data-mdb-placement="left" title="Edit"></i>
              </a>
              <br>
              <a href="{{ url_for('delete_task', task_id=task['_id']) }}" data-mdb-toggle="modal" data-mdb-target="#modal-confirm">
                <i class="fas fa-trash-alt fa-lg" data-mdb-toggle="tooltip" data-mdb-placement="left" title="Delete"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="modal-confirm" tabindex="-1" aria-labelledby="modal-confirm-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-confirm-title">Confirm deletion</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">This operation will remove the selected task from database. Please confirm.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" formMethod='POST'>Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}