{% extends "base.html" %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if last_task %}{% set update=True %}{% else %}{% set update=False %}{% endif %}
    <div class="form">
        <form action="{{ request_path }}" method="POST" enctype="multipart/form-data">
            <label for="name">Task Name</label>
            <input type="text" name="name" id="name" value="{{ last_task['name'] }}">
            <label for="category_name">Category</label>
            <select name="category_name" id="category_name">
                <option value="none"></option>
                {% for category_id in categories %}
                <option value="{{ categories[category_id]['name'] }}" {% if category_id==last_task['category_id'] %}selected{% endif %}>
                    {{ categories[category_id]['description'] }}
                </option>
                {% endfor %}
            </select>
            <br>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="{{ last_task['description'] }}">
            <label for="is_urgent">Urgent?</label>
            <input type="checkbox" name="is_urgent" id="is_urgent" {% if last_task['is_urgent'] %}checked{% endif %}>
            <br>
            <label for="due_date">Due Date</label>
            <input type="date" name="due_date" id="due_date" value="{{ last_task['due_date']|datetime_to_str('%Y-%m-%d') }}">
            <label for="is_complete">Complete?</label>
            <input type="checkbox" name="is_complete" id="is_complete" {% if last_task['is_complete'] %}checked{% endif %}>
            <br>
            <label for="SourceFileName">Select a file:</label>
            <br>
            <input type="file" name="SourceFileName" id="SourceFileName">
            <br><br>
            <button type="submit">{% if update==True %}Update record{% else %}Add record{% endif %}</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages%}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    {% if tasks %}
    <table>
        <tr>
            <th>Image</th>
            <th>Category</th>
            <th>Name / Urgent?<BR>Description</th>
            <th>Due Date</th>
            <th>Complete?</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    {% if task['image_id'] %}
                    <img src="{{ url_for('serve_image', image_id=task['image_id']) }}" width="100px" alt="{{ task['name'] }}"><br>
                    {% endif %}
                </td>
                <td>
                    <span class="material-icons-outlined">{{ categories[task["category_id"]]['icon'] }}</span><br>
                    {{ categories[task["category_id"]]['name'] }}
                </td>
                <td>
                    {{ task['name'] }}
                    {% if task['is_urgent'] %}<span class="material-icons-outlined">priority_high</span>{% endif %}
                    <br>
                    {{ task['description'] }}
                </td>
                <td>{{ task['due_date']|datetime_to_str('%d/%m/%Y') }}</td>
                <td>{% if task['is_complete'] %}<span class="material-icons-outlined">check_circle</span>{% endif %}</td>
                <td>
                    <a href="{{ url_for('delete_task', task_id=task['_id']) }}">Delete</a>
                    <br>
                    <a href="{{ url_for('update_task', task_id=task['_id']) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}