{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    {% if last_task %}{% set update=True %}{% else %}{% set update=False %}{% endif %}
    <div class="form">
        <form action="{{ request.path }}" method="POST" enctype="multipart/form-data">
            <label for="name">Task Name</label>
            <input type="text" name="name" id="name" value="{{ last_task['name'] }}">
            <label for="category_name">Category</label>
            <select name="category_name" id="category_name">
                <option value="none"></option>
                {% for category_id in categories %}
                <option value="{{ categories[category_id]['name'] }}" {% if category_id==last_task['category_id'] %}selected{% endif %}>
                    {{ categories[category_id]['description'] }}
                </option>
                {% endfor %}
            </select>
            <br>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="{{ last_task['description'] }}">
            <label for="is_urgent">Urgent?</label>
            <input type="checkbox" name="is_urgent" id="is_urgent" {% if last_task['is_urgent'] %}checked{% endif %}>
            <br>
            <label for="due_date">Due Date</label>
            <input type="date" name="due_date" id="due_date" value="{{ last_task['due_date']|datetime_to_str('%Y-%m-%d') }}">
            <label for="is_complete">Complete?</label>
            <input type="checkbox" name="is_complete" id="is_complete" {% if last_task['is_complete'] %}checked{% endif %}>
            <br>
            <label for="SourceFileName">Select a file:</label>
            <br>
            <input type="file" name="SourceFileName" id="SourceFileName">
            <br><br>
            <button type="submit">{% if update==True %}Update record{% else %}Add record{% endif %}</button>
        </form>
    </div>

    {% if tasks %}
    <table class="table">
        <tr>
            <th>Image</th>
            <th>Category</th>
            <th>Name / Urgent?<BR>Description</th>
            <th>Due Date</th>
            <th>Complete?</th>
            <th>Added</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    {% if task['image_id'] %}
                    <img src="{{ url_for('serve_image', image_id=task['image_id']) }}" width="100px" alt="{{ task['name'] }}"><br>
                    {% endif %}
                </td>
                <td>
                    {% if task["category_id"] %}
                        {% set category = categories[task["category_id"]] %}
                        <i class="{{ category['icon'] }}"></i>
                        {{ category['description'] }}
                    {% endif %}
                </td>
                <td>
                    {{ task['name'] }}
                    {% if task['is_urgent'] %}<i class="fas fa-exclamation"></i>{% endif %}
                    <br>
                    {{ task['description'] }}
                </td>
                <td>{{ task['due_date']|datetime_to_str('%d/%m/%Y') }}</td>
                <td>{% if task['is_complete'] %}<i class="far fa-check-square"></i>{% endif %}</td>
                <td>{{ task['date_time_insert']|unix_time_ago }}</td>
                <td>{% if task['date_time_update'] %}{{ task['date_time_update']|unix_time_ago }}{% endif %}</td>
                <td>
                    <a href="{{ url_for('delete_task', task_id=task['_id']) }}">Delete</a>
                    <br>
                    <a href="{{ url_for('update_task', task_id=task['_id']) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="accordion" id="accordionTasks">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Accordion Item #1
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-mdb-parent="#accordionTasks"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is hidden by default,
              until the collapse plugin adds the appropriate classes that we use to style each
              element. These classes control the overall appearance, as well as the showing and
              hiding via CSS transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just about any HTML
              can go within the <strong>.accordion-body</strong>, though the transition does limit
              overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Accordion Item #2
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-mdb-parent="#accordionTasks"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by
              default, until the collapse plugin adds the appropriate classes that we use to
              style each element. These classes control the overall appearance, as well as the
              showing and hiding via CSS transitions. You can modify any of this with custom CSS
              or overriding our default variables. It's also worth noting that just about any
              HTML can go within the <strong>.accordion-body</strong>, though the transition does
              limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Accordion Item #3
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-mdb-parent="#accordionTasks"
          >
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default,
              until the collapse plugin adds the appropriate classes that we use to style each
              element. These classes control the overall appearance, as well as the showing and
              hiding via CSS transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just about any HTML
              can go within the <strong>.accordion-body</strong>, though the transition does limit
              overflow.
            </div>
          </div>
        </div>
      </div>
    {% endif %}
</div>
{% endblock %}